
examples/phonegap/bin/
examples/phonegap/target
examples/webview/bin/
examples/webview/target
jshybugger-lib/target
examples/webview/gen/
examples/phonegap/gen/
jshybugger-bundle/target/
jshybugger-proxy/bin/
jshybugger-proxy/target/
jshybugger-proxy/gen/
jshybugger-proxy/gen
jshybugger-proxy/gen/org/jshybugger/proxy/BuildConfig.java
